<!DOCTYPE html>
<html>
  <head>
    <title>Anuj Careers</title>
    <style>h1{
   font-size: 40px;
   font-family: Roboto;
   font-weight: normal;
    }</style>
  </head>
  <body>
      <h1>Pune Careers</h1>
     <img src="https://2b7a8475-b229-4c95-9297-f450dd0c5c67-00-1gfozjbq8nbg6.janeway.replit.dev/static/pune.png" height="320">
    <h2>About pune:</h2>
    <p>Pune, located in the western Indian state of Maharashtra, is a vibrant city renowned for its rich history, cultural heritage, and modern outlook. Once the seat of the Peshwas (prime ministers) of the Maratha Empire, Pune blends traditional charm with rapid urban development. It is often called the "Oxford of the East" due to its numerous educational institutions that attract students from across India and the world. The city is also known for its pleasant climate, bustling markets, and diverse culinary scene, offering everything from street food delights to upscale dining experiences. </p>
    <h2> Locations to explore </h2>
    <h2>Things to do</h2>
    <button>Contact Us</button>
  </body>
</html>