<!DOCTYPE html>
<html>
  <head>
    <title>Anuj Careers</title>
    <style>h1{
   font-size: 40px;
   font-family: Roboto;
   font-weight: bold;
  color: rgb(100,0,1);
  text-align: center;

    }
    #banner{
      width: 100%;
      height: 360px;
    
    }
      h2{
   font-size: 32px;
   font-family: Roboto;
   font-weight: bold;
  color: rgb(100,0,100);
  text-align: center;

      }
      p{
  
   font-family: Roboto;
  color: rgb(100,0,1);
      }
      #container{
        max-width: 720px;
        margin: 0 auto 0 auto;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <h1>Pune Careers</h1>
     <img id="banner" src="https://2b7a8475-b229-4c95-9297-f450dd0c5c67-00-1gfozjbq8nbg6.janeway.replit.dev/static/Job.jpg" >
    <h2>About pune:</h2>
    <p>Pune, located in the western Indian state of Maharashtra, is a vibrant city renowned for its rich history, cultural heritage, and modern outlook. Once the seat of the Peshwas (prime ministers) of the Maratha Empire, Pune blends traditional charm with rapid urban development. It is often called the "Oxford of the East" due to its numerous educational institutions that attract students from across India and the world. The city is also known for its pleasant climate, bustling markets, and diverse culinary scene, offering everything from street food delights to upscale dining experiences. </p>
    <h2> Open Positions </h2>
    <p>TO-DO Show the jobs here</p>
      <div style="text-align: center;">
    <button>Contact Us</button></div>
      </div>
    <p>Copyright 2004</p>
  </body>
</html>